#s-833463e7-b18d-4313-8bdd-966aaeb2662d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-833463e7-b18d-4313-8bdd-966aaeb2662d #s-line-grey {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-833463e7-b18d-4313-8bdd-966aaeb2662d #s-line-green {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-833463e7-b18d-4313-8bdd-966aaeb2662d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-833463e7-b18d-4313-8bdd-966aaeb2662d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}