#s-a1471b70-9d18-4c33-8bf8-921c35098c9d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1471b70-9d18-4c33-8bf8-921c35098c9d #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1471b70-9d18-4c33-8bf8-921c35098c9d #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1471b70-9d18-4c33-8bf8-921c35098c9d #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1471b70-9d18-4c33-8bf8-921c35098c9d #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1471b70-9d18-4c33-8bf8-921c35098c9d #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1471b70-9d18-4c33-8bf8-921c35098c9d #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1471b70-9d18-4c33-8bf8-921c35098c9d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a1471b70-9d18-4c33-8bf8-921c35098c9d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}