#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_26 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_28 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_30 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_32 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-line-grey {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-line-green {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_145 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-before {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-after {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-ReportNotification_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-StartNoti {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-StartNoti_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-ReportNotification {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-line-grey_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Flat-button-white {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Flat-button-white_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd #s-spinner-2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b97c949e-6322-4304-a7b1-bcc1ff3ed8dd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}