<html>
  <body>
    <div class="ui-page">
         <div id="t-f39803f7-df02-4169-93eb-7547fb8c961a" class="template growth-both firer commentable" name="Layout" width="" height="">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="left">
           <link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1476585244365.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1476585244365-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1476585244365-ie8.css" /><![endif]-->
           <div id="t-h2" class="group firer ie-background commentable">
             <div id="t-Rectangle_2" class="rectangle firer commentable"  >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_2_0"></span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Image_71" class="image firer ie-background commentable"    alt="image" systemName="./images/d22544bb-a41b-4dc7-91ca-37b76436488f.svg" overlay="#7D7D7D">
                 <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>
             </div>
             <div id="t-Image_21" class="image firer ie-background commentable"    alt="image" systemName="./images/69e92b65-4c3d-41f6-a6dc-4d68fbb2f724.svg" overlay="#7D7D7D">
                 <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/></svg>
             </div>
             <div id="t-Image_45" class="image firer ie-background commentable"    alt="image" systemName="./images/23317eb3-d095-480c-9f8b-feedb11800f4.svg" overlay="#7D7D7D">
                 <svg preserveAspectRatio='none' width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"/></svg>
             </div>
             <div id="t-Image_69" class="image firer ie-background commentable"    alt="image" systemName="./images/10908e75-66a6-4c5e-8353-3672ac38949e.svg" overlay="#7D7D7D">
                 <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 9h12v2H6V9zm8 5H6v-2h8v2zm4-6H6V6h12v2z"/></svg>
             </div>
             <div id="t-Text_4" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_4_0">Settings</span></div></div></div>
             <div id="t-Text_5" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_5_0">Messages</span></div></div></div>
             <div id="t-Text_6" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_6_0">Notifications</span></div></div></div>
           </div>
           <div id="t-h1" class="group firer ie-background commentable">
             <div id="t-Rectangle_1" class="pie rectangle firer commentable"  >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_1_0"></span>
                 </div>
               </div>
              </div>
             </div>

             <img id="t-Image_1" class="image firer ie-background commentable"    alt="image" src="./images/22a0db06-0fbe-44c1-b9df-91d56124b58c.png"/>
             <div id="t-Text_1" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_1_0">John Doe #6679413</span></div></div></div>
             <div id="t-Text_3" class="label singleline firer pageload ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Text_3_0">00:00:00</span></div></div></div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>